Repository kookmin-sw/capstone-2025-13, pull requests merged in 2025-05, with the labels that each got.

#105 [Fix] 경로 문제 해결
  index.html
Labels: bug

#104 [release] temporal release v0.1.0 (merge to master)
  index.html
  src/main/kotlin/kr/ac/kookmin/wuung/controller/EtcController.kt
Labels: Backend

#111 [Feat] 매일 1주제 API 연결
  Frontend/src/API/topicAPI.ts
  Frontend/src/screens/DailyTopic.tsx
  Frontend/src/styles/dailyTopicStyles.ts
Labels: feature, frontend

#112 [Feat] 2차 비밀번호 연결 및 키보드 자동 내려가는 기능 추가
  Frontend/src/App.tsx
  Frontend/src/components/HeaderTitle.tsx
  Frontend/src/hooks/useSecondPasswordGuard.ts
  Frontend/src/screens/Calendar.tsx
  Frontend/src/screens/FormalDiagnosis/FormalDiagnosis.tsx
  Frontend/src/screens/SignUp/SignUpStep3.tsx
  Frontend/src/screens/UserInfo.tsx
  Frontend/src/styles/headerTitleStyles.ts
Labels: feature, refactor, frontend

#118 [Refactor] Topic API 수정
  src/main/kotlin/kr/ac/kookmin/wuung/batch/TopicBatch.kt
  src/main/kotlin/kr/ac/kookmin/wuung/controller/TopicController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/exceptions/exceptions.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/TopicFeedback.kt
Labels: refactor, Backend

#117 [Feat] 검사 결과 화면 생성
  Frontend/src/App.tsx
  Frontend/src/screens/FormalDiagnosis/FormalDiagnsis_result.tsx
  Frontend/src/styles/formalDiagnsisResultStyles.ts
Labels: feature, frontend

#124 [feature] ios app attest done.
  Frontend/src/.babelrc
  Frontend/src/API/IntegrityAPI.ts
  Frontend/src/App.tsx
  Frontend/src/app.json
  Frontend/src/components/FlipCard.tsx
  Frontend/src/eas.json
  Frontend/src/ios/Podfile
  Frontend/src/ios/Podfile.lock
  Frontend/src/ios/Podfile.properties.json
  Frontend/src/ios/wooong.xcodeproj/project.pbxproj
  Frontend/src/ios/wooong.xcodeproj/xcshareddata/xcschemes/wooong.xcscheme
  Frontend/src/ios/wooong/AppDelegate.swift
  Frontend/src/ios/wooong/Info.plist
  Frontend/src/ios/wooong/wooong.entitlements
  Frontend/src/metro.config.js
  Frontend/src/package-lock.json
  Frontend/src/package.json
  Frontend/src/screens/Game/GameScreen.tsx
  Frontend/src/screens/RestrictedAccessScreen.tsx
  build.gradle.kts
  src/main/kotlin/kr/ac/kookmin/wuung/controller/IntegrityController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/service/IntegrityChallengeService.kt
  src/main/kotlin/kr/ac/kookmin/wuung/service/IntegrityService.kt
Labels: feature, frontend, Backend

#126 [release] front-develop to master
  Frontend/src/.babelrc
  Frontend/src/API/IntegrityAPI.ts
  Frontend/src/API/diagnosisAPI.ts
  Frontend/src/App.tsx
  Frontend/src/android/app/src/main/AndroidManifest.xml
  Frontend/src/app.json
  Frontend/src/components/FlipCard.tsx
  Frontend/src/eas.json
  Frontend/src/ios/Podfile
  Frontend/src/ios/Podfile.lock
  Frontend/src/ios/Podfile.properties.json
  Frontend/src/ios/wooong.xcodeproj/project.pbxproj
  Frontend/src/ios/wooong.xcodeproj/xcshareddata/xcschemes/wooong.xcscheme
  Frontend/src/ios/wooong/AppDelegate.swift
  Frontend/src/ios/wooong/Info.plist
  Frontend/src/ios/wooong/wooong.entitlements
  Frontend/src/metro.config.js
  Frontend/src/package-lock.json
  Frontend/src/package.json
  Frontend/src/screens/Game/GameScreen.tsx
  Frontend/src/screens/RestrictedAccessScreen.tsx
  build.gradle.kts
  src/main/kotlin/kr/ac/kookmin/wuung/controller/IntegrityController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/service/IntegrityChallengeService.kt
  src/main/kotlin/kr/ac/kookmin/wuung/service/IntegrityService.kt
Labels: feature, frontend, Backend

#129 [Fix] Quest last API 수정 완료 #127
  .kotlin/sessions/kotlin-compiler-7757340986771499638.salive
  src/main/kotlin/kr/ac/kookmin/wuung/controller/QuestsController.kt
Labels: feature, refactor, Backend

#131 [Feat] 진단 결과 저장 api 연결 및 정보 받는 api 연결
  Frontend/src/API/diagnosisAPI.ts
  Frontend/src/App.tsx
  Frontend/src/components/SurveyQuestion.tsx
  Frontend/src/screens/FormalDiagnosis/FormalDiagnosis.tsx
  Frontend/src/screens/FormalDiagnosis/FormalDiagnosis_survey.tsx
  Frontend/src/screens/FormalDiagnosis/FormalDiagnsis_result.tsx
Labels: feature, refactor, frontend

#134 [Feat] 진단 결과 그래프 생성
  Frontend/src/API/diagnosisAPI.ts
  Frontend/src/components/EmotionChartBox.tsx
  Frontend/src/components/MethodCard.tsx
  Frontend/src/hooks/useDiagnosisColor.ts
  Frontend/src/package-lock.json
  Frontend/src/package.json
  Frontend/src/screens/FormalDiagnosis/FormalDiagnosis.tsx
  Frontend/src/screens/FormalDiagnosis/FormalDiagnosis_survey.tsx
  Frontend/src/screens/FormalDiagnosis/FormalDiagnsis_result.tsx
  Frontend/src/styles/emotionChartBoxStyles.ts
  Frontend/src/styles/formalDiagnsisResultStyles.ts
  Frontend/src/styles/methodCardStyles.ts
Labels: feature, refactor, frontend

#135 [feature] UserQuests add photo service, logics.
  .kotlin/sessions/kotlin-compiler-7757340986771499638.salive
  src/main/kotlin/kr/ac/kookmin/wuung/controller/QuestsController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/UserQuests.kt
  src/main/kotlin/kr/ac/kookmin/wuung/service/UserQuestS3Service.kt
  src/main/resources/application.yml
Labels: feature, Backend

#137 [Feat] 명언 API 구현
  src/main/kotlin/kr/ac/kookmin/wuung/controller/QuestsController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/LifeQuotes.kt
  src/main/kotlin/kr/ac/kookmin/wuung/repository/LifeQuoteRepository.kt
Labels: feature, Backend

#139 [Refactor] ETC API 반환 양식 수정
  src/main/kotlin/kr/ac/kookmin/wuung/controller/EtcController.kt
Labels: feature, Backend

#140 [feature] lucky vicky added, record api some fixed.
  src/main/kotlin/kr/ac/kookmin/wuung/batch/LuckyVickyBatch.kt
  src/main/kotlin/kr/ac/kookmin/wuung/batch/TopicBatch.kt
  src/main/kotlin/kr/ac/kookmin/wuung/config/ChatClientConfig.kt
  src/main/kotlin/kr/ac/kookmin/wuung/controller/IntegrityController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/controller/RecordController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/controller/TopicController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/Record.kt
  src/main/kotlin/kr/ac/kookmin/wuung/repository/RecordRepository.kt
  src/main/resources/application.yml
Labels: feature, AI, Backend

#130 [refactor] camera(face detector) added.
  Frontend/src/.babelrc
  Frontend/src/App.tsx
  Frontend/src/android/app/build.gradle
  Frontend/src/android/app/src/main/AndroidManifest.xml
  Frontend/src/android/app/src/main/assets/emotion_labels.txt
  Frontend/src/android/app/src/main/assets/emotion_model.tflite
  Frontend/src/android/app/src/main/assets/models/emotion_labels.txt
  Frontend/src/android/app/src/main/assets/models/emotion_model.tflite
  Frontend/src/android/gradle.properties
  Frontend/src/app.json
  Frontend/src/assets/models/emotion_labels.txt
  Frontend/src/assets/models/emotion_model.tflite
  Frontend/src/babel.config.js
  Frontend/src/hooks/useLoadEmotionModel.tsx
  Frontend/src/ios/Podfile.properties.json
  Frontend/src/ios/wooong/Info.plist
  Frontend/src/metro.config.js
  Frontend/src/package-lock.json
  Frontend/src/package.json
  Frontend/src/screens/Quest/Quest.tsx
  Frontend/src/screens/Quest/Quest_emotion.tsx
  Frontend/src/screens/Quest/Quest_stage.tsx
  Frontend/src/types/global.d.ts
  Frontend/src/utils/EmotionModelRun.tsx
  Frontend/src/utils/EmotionPreprocess.tsx
  Frontend/src/utils/QuestEmotion/AngryToRelax.tsx
  Frontend/src/utils/QuestEmotion/DisgustToAcceptance.tsx
  Frontend/src/utils/QuestEmotion/EmotionCycleQuest.tsx
  Frontend/src/utils/QuestEmotion/FearToCalm.tsx
  Frontend/src/utils/QuestEmotion/SadToWarm.tsx
  Frontend/src/utils/QuestEmotion/SurpriseToSmile.tsx
  Frontend/src/utils/QuestEmotion/happy5sec.tsx
  Frontend/src/utils/QuestEmotion/quests.tsx
  Frontend/src/utils/faceChecker.tsx
Labels: feature, frontend

#142 [Feat] 캘린더 관련 api 연결 및 스타일 수정
  Frontend/src/API/calendarAPI.ts
  Frontend/src/API/helpcallAPI.ts
  Frontend/src/App.tsx
  Frontend/src/app.json
  Frontend/src/assets/Images/diagnosis_icon.png
  Frontend/src/assets/Images/diary_icon.png
  Frontend/src/assets/Images/quest_icon.png
  Frontend/src/assets/Images/topic_icon.png
  Frontend/src/components/SurveyQuestion.tsx
  Frontend/src/hooks/useCustomFonts.tsx
  Frontend/src/screens/Calendar.tsx
  Frontend/src/screens/HelpCall/HelpCall.tsx
  Frontend/src/styles/GameScreenStyles.ts
  Frontend/src/styles/calendarStyles.ts
  Frontend/src/styles/emotionChartBoxStyles.ts
  Frontend/src/styles/formalDialogueStyles.ts
  Frontend/src/styles/headerTitleStyles.ts
  Frontend/src/styles/surveyHeaderStyles.ts
  Frontend/src/styles/surveyQuestionStyles.ts
Labels: feature, refactor, frontend

#145 [feature] admin page with password login
  .gitignore
  build.gradle.kts
  src/main/kotlin/kr/ac/kookmin/wuung/WuungApplication.kt
  src/main/kotlin/kr/ac/kookmin/wuung/config/SecurityConfig.kt
  src/main/kotlin/kr/ac/kookmin/wuung/controller/LoginController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/Diagnosis.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/DiagnosisText.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/Quests.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/Test.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/TopicFeedback.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/User.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/UserQuests.kt
  src/main/kotlin/kr/ac/kookmin/wuung/repository/IntegrityChallengeRepository.kt
  src/main/kotlin/kr/ac/kookmin/wuung/repository/RefreshTokenRepository.kt
  src/main/kotlin/kr/ac/kookmin/wuung/security/ExceptionHandler.kt
  src/main/kotlin/kr/ac/kookmin/wuung/service/IntegrityService.kt
  src/main/resources/application.yml
  src/main/resources/templates/login.html
Labels: feature, Backend

#149 [Feat] Pot API 구현
  src/main/kotlin/kr/ac/kookmin/wuung/controller/PotController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/exceptions/exceptions.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/Pot.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/PotLevel.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/User.kt
  src/main/kotlin/kr/ac/kookmin/wuung/repository/PotLevelRepository.kt
  src/main/kotlin/kr/ac/kookmin/wuung/repository/PotRepository.kt
Labels: feature, Backend

#150 [Feat] 일기 관련 api 연결
  Frontend/src/API/recordAPI.ts
  Frontend/src/App.tsx
  Frontend/src/assets/Images/save_bttn.png
  Frontend/src/components/RecordInputBox.tsx
  Frontend/src/components/Record_chat.tsx
  Frontend/src/components/Record_etc.tsx
  Frontend/src/components/StarRating.tsx
  Frontend/src/package-lock.json
  Frontend/src/package.json
  Frontend/src/screens/Record.tsx
  Frontend/src/styles/recordChatStyles.ts
  Frontend/src/styles/recordEtcStyles.ts
  Frontend/src/styles/recordStyles.ts
Labels: feature, frontend

#152 [Feat] 매일 1주제 오류 수정 및 완수/미완수 상태 판별
  Frontend/src/components/FloatingButton.tsx
  Frontend/src/screens/DailyTopic.tsx
  Frontend/src/styles/floatingButtonStyles.ts
Labels: bug, feature, frontend

#156 [hotfix] quest/auth photo related hotfix.
  src/main/kotlin/kr/ac/kookmin/wuung/controller/AuthController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/controller/QuestsController.kt
Labels: bug, Backend

#157 [hotfix] if refreshToken expires at least 1 day, refresh RefreshToken
  src/main/kotlin/kr/ac/kookmin/wuung/controller/AuthController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/service/TokenService.kt
Labels: feature, Backend

#160 [Design] CV 퀘스트 컴포넌트 추가
  Frontend/src/assets/Images/emotion_chart.png
  Frontend/src/components/Quest_emotionBox.tsx
  Frontend/src/screens/Quest/Quest_emotion.tsx
  Frontend/src/styles/questEmotionChart.ts
  Frontend/src/styles/questEmotionStyles.ts
  Frontend/src/utils/QuestEmotion/quests.tsx
Labels: feature, frontend, AI

#161 [release] develop merge to master
  API.md
  openapi.json
  src/main/kotlin/kr/ac/kookmin/wuung/controller/AuthController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/controller/PotController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/controller/QuestsController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/Pot.kt
  src/main/kotlin/kr/ac/kookmin/wuung/repository/UserRepository.kt
  src/main/kotlin/kr/ac/kookmin/wuung/service/TokenService.kt
Labels: refactor, Backend

#162 [release] front-develop to master
  Frontend/src/.babelrc
  Frontend/src/App.tsx
  Frontend/src/android/app/build.gradle
  Frontend/src/android/app/src/main/AndroidManifest.xml
  Frontend/src/android/app/src/main/assets/emotion_labels.txt
  Frontend/src/android/app/src/main/assets/emotion_model.tflite
  Frontend/src/android/app/src/main/assets/models/emotion_labels.txt
  Frontend/src/android/app/src/main/assets/models/emotion_model.tflite
  Frontend/src/android/app/src/main/java/kr/ac/kookmin/wooong/MainActivity.kt
  Frontend/src/android/app/src/main/java/kr/ac/kookmin/wooong/MainApplication.kt
  Frontend/src/android/gradle.properties
  Frontend/src/app.json
  Frontend/src/assets/Images/emotion_chart.png
  Frontend/src/assets/models/emotion_labels.txt
  Frontend/src/assets/models/emotion_model.tflite
  Frontend/src/babel.config.js
  Frontend/src/components/Quest_emotionBox.tsx
  Frontend/src/eas.json
  Frontend/src/hooks/useLoadEmotionModel.tsx
  Frontend/src/ios/Podfile.properties.json
  Frontend/src/ios/wooong.xcodeproj/project.pbxproj
  Frontend/src/ios/wooong/Info.plist
  Frontend/src/metro.config.js
  Frontend/src/package-lock.json
  Frontend/src/package.json
  Frontend/src/screens/Quest/Quest.tsx
  Frontend/src/screens/Quest/Quest_emotion.tsx
  Frontend/src/screens/Quest/Quest_stage.tsx
  Frontend/src/styles/questEmotionChart.ts
  Frontend/src/styles/questEmotionStyles.ts
  Frontend/src/types/global.d.ts
  Frontend/src/utils/EmotionModelRun.tsx
  Frontend/src/utils/EmotionPreprocess.tsx
  Frontend/src/utils/QuestEmotion/AngryToRelax.tsx
  Frontend/src/utils/QuestEmotion/DisgustToAcceptance.tsx
  Frontend/src/utils/QuestEmotion/EmotionCycleQuest.tsx
  Frontend/src/utils/QuestEmotion/FearToCalm.tsx
  Frontend/src/utils/QuestEmotion/SadToWarm.tsx
  Frontend/src/utils/QuestEmotion/SurpriseToSmile.tsx
  Frontend/src/utils/QuestEmotion/happy5sec.tsx
  Frontend/src/utils/QuestEmotion/quests.tsx
  Frontend/src/utils/faceChecker.tsx
Labels: refactor, frontend, AI

#163 [Feat] Add Flower Pot, Loading Spinner, and Splash Screen
  Frontend/src/API/axios.ts
  Frontend/src/API/common.ts
  Frontend/src/API/contextAPI.tsx
  Frontend/src/API/potAPI.ts
  Frontend/src/App.tsx
  Frontend/src/assets/Images/leaf.png
  Frontend/src/assets/Images/logo.png
  Frontend/src/assets/Images/pot_clover.png
  Frontend/src/assets/Images/pot_flower.png
  Frontend/src/assets/Images/pot_seed.png
  Frontend/src/components/StatusBox.tsx
  Frontend/src/screens/DailyTopic.tsx
  Frontend/src/screens/FormalDiagnosis/FormalDiagnosis_survey.tsx
  Frontend/src/screens/Quest/Quest_exercise.tsx
  Frontend/src/screens/Quest/Quest_meditation.tsx
  Frontend/src/screens/Record.tsx
  Frontend/src/screens/Spinner.tsx
  Frontend/src/screens/Splash.tsx
  Frontend/src/styles/spinnerStyles.ts
  Frontend/src/styles/statusBoxStyles.ts
Labels: feature, frontend

#159 [Feat] 회원가입 단계에 약관 동의 기능 추가 및 약관 모달 컴포넌트 구현
  Frontend/src/components/TermsModal.tsx
  Frontend/src/constants/infoTerms.ts
  Frontend/src/constants/serviceTerms.ts
  Frontend/src/screens/SignUp/SignUpStep3.tsx
  Frontend/src/styles/signUpStyles.ts
Labels: feature, frontend

#165 [Design] Modify Diary Screen Design, Fix Daily Topic Design Error, Resize Helpcall icon
  Frontend/src/assets/Images/record_input.png
  Frontend/src/components/RecordInputBox.tsx
  Frontend/src/components/StarRating.tsx
  Frontend/src/screens/DailyTopic.tsx
  Frontend/src/screens/HelpCall/HelpCall.tsx
  Frontend/src/screens/Record.tsx
  Frontend/src/styles/helpCallStyles.ts
  Frontend/src/styles/recordInputBoxStyles.ts
  Frontend/src/styles/recordStyles.ts
  Frontend/src/styles/starRatingStyles.ts
Labels: refactor, frontend

#164 [Fix] CV 컴포넌트 조정
  Frontend/src/assets/models/emotion_model_re.tflite
  Frontend/src/components/Quest_emotionBox.tsx
  Frontend/src/hooks/useLoadEmotionModel.tsx
  Frontend/src/screens/Quest/Quest_emotion.tsx
  Frontend/src/styles/questEmotionChart.ts
  Frontend/src/styles/questEmotionChartStyles.ts
  Frontend/src/styles/questEmotionStyles.ts
Labels: frontend, AI

#167 [Feat] 약식검사 결과 말풍선 생성
  Frontend/src/App.tsx
  Frontend/src/components/SimpleResult.tsx
  Frontend/src/screens/DailyTopic.tsx
  Frontend/src/screens/Home.tsx
  Frontend/src/screens/SignIn.tsx
  Frontend/src/styles/homeStyles.ts
Labels: feature, frontend

#166 [Feat] 캘린더화면에서 상세 페이지 이동 추가
  Frontend/src/API/calendarAPI.ts
  Frontend/src/App.tsx
  Frontend/src/package-lock.json
  Frontend/src/package.json
  Frontend/src/screens/Calendar.tsx
  Frontend/src/screens/DailyTopic.tsx
  Frontend/src/screens/Home.tsx
  Frontend/src/screens/Record.tsx
Labels: feature, frontend

#169 [Docs] pages, readme 수정
  Images/aiflow.png
  Images/calendar.png
  Images/colorchart.png
  Images/daily.png
  Images/diary.png
  Images/home.png
  Images/main.png
  Images/system.png
  README.md
  index.html
Labels: documentation, frontend

#174 [Feat] 퀘스트 보완
  Frontend/src/API/QuestAPI.ts
  Frontend/src/screens/Quest/Quest.tsx
  Frontend/src/screens/Quest/Quest_emotion.tsx
  Frontend/src/screens/Quest/Quest_exercise.tsx
  Frontend/src/screens/Quest/Quest_stage.tsx
  Frontend/src/styles/questExerciseStyles.ts
  Frontend/src/styles/questMeditationStyles.ts
Labels: feature, refactor, frontend

#175 [Feat] quest_emotion 연결
  Frontend/src/components/Tree.tsx
  Frontend/src/screens/Quest/Quest.tsx
  Frontend/src/screens/Quest/Quest_stage.tsx
Labels: feature, frontend

#176 [Feat] 전체 점검 및 개선
  Frontend/src/API/diagnosisAPI.ts
  Frontend/src/API/userInfoAPI.ts
  Frontend/src/App.tsx
  Frontend/src/app.json
  Frontend/src/assets/Images/wooong-logo.png
  Frontend/src/components/DepressionResultModal.tsx
  Frontend/src/components/EmotionChartBox.tsx
  Frontend/src/components/HeaderTitle.tsx
  Frontend/src/components/Header_sky.tsx
  Frontend/src/components/RecordHeader.tsx
  Frontend/src/components/RecordInputBox.tsx
  Frontend/src/package-lock.json
  Frontend/src/package.json
  Frontend/src/screens/Calendar.tsx
  Frontend/src/screens/FormalDiagnosis/FormalDiagnosis.tsx
  Frontend/src/screens/FormalDiagnosis/FormalDiagnsis_result.tsx
  Frontend/src/screens/Home.tsx
  Frontend/src/screens/Record.tsx
  Frontend/src/screens/SecondPassword.tsx
  Frontend/src/screens/UserInfo.tsx
  Frontend/src/styles/headerTitleStyles.ts
  Frontend/src/styles/secondPasswordStyles.ts
  Frontend/src/styles/sectionLabelStyles.ts
Labels: feature, refactor, frontend

#177 [Feat] 닉네임 추가 및 퀘스트 설명 추가
  Frontend/src/API/QuestAPI.ts
  Frontend/src/App.tsx
  Frontend/src/components/Quest_emotionBox.tsx
  Frontend/src/components/Tree.tsx
  Frontend/src/package-lock.json
  Frontend/src/package.json
  Frontend/src/screens/Quest/Quest.tsx
  Frontend/src/screens/Quest/Quest_emotion.tsx
  Frontend/src/screens/Quest/Quest_exercise.tsx
  Frontend/src/screens/Quest/Quest_stage.tsx
  Frontend/src/styles/questEmotionChartStyles.ts
  Frontend/src/styles/questExerciseStyles.ts
  Frontend/src/styles/questMeditationStyles.ts
Labels: feature, refactor, frontend

#179 [Feat] 검사 결과 모달 생성
  Frontend/src/API/diagnosisAPI.ts
  Frontend/src/components/DepressionResultModal.tsx
  Frontend/src/screens/Calendar.tsx
Labels: feature, refactor, frontend

#185 [Feat] 이미지 변경
  Images/face.png
Labels: documentation

#192 [refactor] 여러 쿠폰 사용 로직 추가
  .idea/sqldialects.xml
  src/main/kotlin/kr/ac/kookmin/wuung/controller/PotController.kt
Labels: bug, refactor, Backend

#194 [release] merge develop to master
  .idea/dataSources.xml
  Frontend/src/android/gradle.properties
  Frontend/src/ios/wooong.xcodeproj/project.pbxproj
  build.gradle.kts
  compose.yaml
  python/.gitignore
  python/generate_sql.py
  python/main.py
  python/requirements.txt
  python/utf8_convert.py
  src/main/kotlin/kr/ac/kookmin/wuung/AwsRuntimeHints.kt
  src/main/kotlin/kr/ac/kookmin/wuung/WuungApplication.kt
  src/main/kotlin/kr/ac/kookmin/wuung/batch/LuckyVickyBatch.kt
  src/main/kotlin/kr/ac/kookmin/wuung/batch/TopicBatch.kt
  src/main/kotlin/kr/ac/kookmin/wuung/config/AmazonS3Config.kt
  src/main/kotlin/kr/ac/kookmin/wuung/config/ChatClientConfig.kt
  src/main/kotlin/kr/ac/kookmin/wuung/config/JacksonConfig.kt
  src/main/kotlin/kr/ac/kookmin/wuung/config/SecurityConfig.kt
  src/main/kotlin/kr/ac/kookmin/wuung/controller/DiagnosisController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/controller/EtcController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/controller/HelpController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/controller/IntegrityController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/controller/PotController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/controller/QuestsController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/controller/RecordController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/controller/TopicController.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/Configurations.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/Diagnosis.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/DiagnosisResults.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/Help.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/IntegrityChallenge.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/LifeQuotes.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/Pot.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/PotLevel.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/Quests.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/Record.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/RefreshToken.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/RevokedToken.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/Test.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/Topic.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/TopicFeedback.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/User.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/UserQuestStages.kt
  src/main/kotlin/kr/ac/kookmin/wuung/model/UserQuests.kt
  src/main/kotlin/kr/ac/kookmin/wuung/repository/DiagnosisResultsRepository.kt
  src/main/kotlin/kr/ac/kookmin/wuung/repository/HelpCenterRepository.kt
  src/main/kotlin/kr/ac/kookmin/wuung/repository/TopicFeedbackRepository.kt
  src/main/kotlin/kr/ac/kookmin/wuung/service/DiagnosisService.kt
  src/main/kotlin/kr/ac/kookmin/wuung/service/HelpCenterService.kt
  src/main/kotlin/kr/ac/kookmin/wuung/service/IntegrityChallengeService.kt
  src/main/kotlin/kr/ac/kookmin/wuung/service/ProfileS3Service.kt
  src/main/kotlin/kr/ac/kookmin/wuung/service/QuestService.kt
  src/main/kotlin/kr/ac/kookmin/wuung/service/UserQuestS3Service.kt
  src/main/resources/application.properties
  src/main/resources/application.yml
  src/test/kotlin/kr/ac/kookmin/woong/TokenServiceTest.kt
Labels: feature, Backend

#204 [Feat] 시연용 코드
  Frontend/src/App.tsx
  Frontend/src/screens/Home.tsx
  Frontend/src/screens/Quest/Quest_stage.tsx
Labels: feature, refactor, frontend

#209 [hotfix] hotfix.
  Frontend/src/android/app/src/main/AndroidManifest.xml
  Frontend/src/android/app/src/main/cpp/plugins/FacePreprocessingNative.cpp
  Frontend/src/android/app/src/main/java/space/mori/wooong/FaceDetectorFrameProcessorPlugin.kt
  Frontend/src/app.config.ts
  Frontend/src/babel.config.js
  Frontend/src/hooks/useLoadEmotionModel.tsx
  Frontend/src/ios/FaceDetectorFrameProcessorPlugin.swift
  Frontend/src/ios/Podfile.lock
  Frontend/src/ios/Podfile.properties.json
  Frontend/src/ios/wooong.xcodeproj/project.pbxproj
  Frontend/src/ios/wooong/Info.plist
  Frontend/src/package-lock.json
  Frontend/src/package.json
  Frontend/src/screens/Quest/Quest_emotion.tsx
Labels: bug, frontend
